.WeatherWrapper {
  width: 100%;
}

.Data {
  text-align: left;
  color: black;
  border-width: thick;
  list-style-position: outside;

}
ol {
  text-align: center;
  color: blue;
  background-color: lightblue;
}

body {
  background-color: teal;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

div {
  color: black;
  text-align: center;
}
